/* Importing Fonts */
@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
